NEXT_PUBLIC_SUPABASE_URL=https://SEU-PROJETO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=CHAVE_PUBLICA_ANON
INFINITEPAY_HANDLE=SUA_INFINITETAG_TA_NO_BANHO
NEXT_PUBLIC_SITE_URL=https://SEU-DOMINIO-TA-NO-BANHO.com.br
